<div class="container">
  <div *ngIf="eventDetails" class="show-event">


    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="about-event mb-50">
          <div class="section-title mb-3">
            <h1 class="text-center" style="text-transform: uppercase;">{{eventDetails.eventName}}</h1>
          </div>
          <p>{{eventDetails.description}}</p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
            <div class="single-caption mb-20">
              <div class="caption-icon">
                <span class="flaticon-communications-1"></span>
              </div>
              <div class="caption">
                <h5>Where</h5>
                <p>{{eventDetails.location}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
            <div class="single-caption mb-20">
              <div class="caption-icon">
                <span class="flaticon-education"></span>
              </div>
              <div class="caption">
                <h5>When</h5>
                <p> {{eventDetails.eventDate}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
