<div class="events-container" *ngFor="let event of userEvent">
	<div class="event">
		<div class="event-preview">
			<h6>Event</h6>
			<h2>{{event.eventName}}</h2>
      <hr>
      <h6>On</h6>
			<h4>{{event.eventDate}}</h4>
		</div>
		<div class="event-info">
			<div class="progress-container">
				<div >{{event.eventDate}}</div>
			</div>
			<h6>Location</h6>
			<h2>{{event.location}}</h2>
			<button type="button" class="btn btn-info" [routerLink]=[event.id]>Edit</button><br>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="floating-text">
	Part of <a href="#" target="_blank">#NASATS Labs</a>
</div>

