<nav class="navbar nav-custom navbar-expand-lg navbar-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Events</a>

  <div id="navbarNav" class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/events">Upcoming Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-event">Add Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/events/user/:id">My Events</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a *ngIf='!this.authService.isLoggedIn' class="nav-link" routerLinkActive="active" routerLink="/log-in">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf='!this.authService.isLoggedIn' class="nav-link" routerLinkActive="active" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
